.category-container {
    padding: 20px;
}

.category-title {
    text-align: left;
    font-family: 'SansSerif', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
    margin-left: 20px;
    font-weight: bold;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 180px;
    background-color: #EDEDED;
    border-radius: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.category-card img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.category-card h3 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}




@media (min-width: 1200px) {
    .category-card {
        width: 220px;
        height: 200px;
    }

    .category-card img {
        width: 80px;
    }

    .category-card h3 {
        font-size: 18px;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .category-card {
        width: 180px;
        height: 160px;
    }

    .category-card img {
        width: 70px;
    }

    .category-card h3 {
        font-size: 16px;
    }

    .category-grid {
        gap: 16px;
    }
}


@media (max-width: 768px) {
    .category-card {
        width: 240px;
        height: 160px;
        padding: 5px;
    }

    .category-card img {
        width: 50px;
        margin-bottom: 5px;
    }

    .category-card h3 {
        font-size: 14px;
        margin: 5px 0;
    }

    .category-grid {
        gap: 10px;
    }

    .category-title {
        font-size: 20px;
        margin-bottom: 10px; /* Уменьшен отступ заголовка от сетки */
    }
}



@media (max-width: 480px) {
    .category-card {
        width: 170px;
        height: 120px;
    }

    .category-card img {
        width: 40px;
    }

    .category-card h3 {
        font-size: 12px;
    }

    .category-title {
        font-size: 18px;
    }

    .category-grid {
        gap: 20px;
    }
}
